*.log
*.swp
.classpath
.gradle/
.project
.settings/
###/bin
###bin/
build/
target/

# Intellij files
.idea
*.iml
*.ipr
*.iws
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
